[submodule "myblog/public"]
	path = myblog/public
	url = https://github.com/somesh-banerjee/blogs.git
	branch = main

[submodule "myblog/themes/terminal"]
	path = myblog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
